
<div class="map-responsive">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9526.78590990094!2d-6.2431257!3d53.3486893!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6d51b774ee7fa935!2sNational+College+of+Ireland!5e0!3m2!1sen!2sie!4v1460898465247" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="row">
        <div class="col-xs-5">
          <h2>PizzaExpress</h2>
          <address>
            <strong>PizzaExpress</strong><br>
            Dublin 1<br>
            NCI<br>
            Dublin<br>
            Ireland<br>
            
            <abbr title="Phone">Phone:</abbr> 01234 123
          </address>
          </div>
        </div>